# Data Science Tools and Ecosystem

## In this notebook, Data Science Tools and Ecosystem are summarized.

# **Objectives**

- List popular languages for data science
- List open-source tools used in data science
- List commonly used libraries in data science

# Some of the popular languages that Data Scientists use are:

1. SQL
2. Python
3. R
4. Julia
5. Scala

## Some of the commonly used libraries used by Data Scientists include:

1. NumPy
2. Pandas
3. Scikit-learn
4. TensorFlow
5. Matplotlib
6. Keras
7. Pytorch

|Data Science Tools|
|---|
|Jupyter Notebook|
|RStudio|
|Apache Spark|

### Below are a few examples of evaluating arithmetic expressions in Python

##### This a simple arithmetic expression to mutiply then add integers

In [12]:
(3*4)+5

17

### This will convert 200 minutes to hours by diving by 60

In [13]:
200 / 60

3.3333333333333335

# Author
Mikolaj